:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --background-lightness: 90%;
  --background-chroma: 0;
  --background-hue: 0;
  --foreground-lightness: 10%;
  --foreground-chroma: 0;
  --foreground-hue: 0;

  --color-foreground: lch(var(--foreground-lightness) var(--foreground-chroma) var(--foreground-hue));
  --color-background: lch(var(--background-lightness) var(--background-chroma) var(--background-hue));
  --color-foreground-trace: lch(var(--foreground-lightness) var(--foreground-chroma) var(--foreground-hue) / 0.1);
  --color-foreground-faint: lch(var(--foreground-lightness) var(--foreground-chroma) var(--foreground-hue) / 0.25);

  color: var(--color-foreground);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-lightness: 10%;
    --background-chroma: 0;
    --background-hue: 0;
    --foreground-lightness: 90%;
    --foreground-chroma: 0;
    --foreground-hue: 0;
  }
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.puzzle {
  display: flex;
  flex-direction: column;
  gap: 1vmin;
  font-size: 3vmin;
  font-weight: 600;
}

.puzzle-row {
  display: flex;
  justify-content: center;
  height: 15vmin;
  gap: 1vmin;
}
.puzzle-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 20vmin;
  border-radius: 1vmin;
  flex-grow: 0;
  background-color: var(--color-foreground-trace);
}
.puzzle-item:hover, .puzzle-item:focus-visible {
  box-shadow: 0 0 3vmin -1vmin inset var(--color-foreground);
}
.puzzle-item.is-selected {
  background-color: var(--color-foreground-faint);
  outline: 0.33vmin solid var(--color-foreground);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}
